<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Upload Image</title>
    </head>
    <body>
        <div class="col-sm">
            <h1><span class="badge badge-danger">Human/Manequinn/Fabric detection</span></h1>
          </div>
      
          <div class="col-sm">
            <form action = "/predict" method = "post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type = "submit" value="Upload">
            </form>
          </div>

          {% if product %}
          <div class="container">
            <div class="row">
          
              <div class="col-sm">
                <span class="border border-primary">
                  <img src="{{ user_image }}" alt="Selected Image" class="img-thumbnail">
                </span>
              </div>
          
              <div class="col-sm">
                <h1>Prediction :  <span class="badge badge-secondary">{{product}}</span></h1>
              </div>
              {% endif %}
            </div>
          </div>
    </body>
</html>